* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
    scroll-timeline: ;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
}

/* Common */
.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px; /*đặt trái phải để khi số lượng chữ tăng cũng k bị dính viền*/
    background-color: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    /* số dòng hiển thị, khi chưa khai báo biến trên root thì dùng dấu , */
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ==================== Header ============================ */
.fixed-header {
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    /* margin collapse */
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    margin-left: 18px;
    padding: 13px 16px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
    /* width: 584px;
    height: 619px; */
}

/* ==================== Clients ============================ */
.clients {
    margin-top: 122px;
    padding: 43px 0 64px;
    text-align: center;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 91px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ==================== Guides ============================ */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
    text-align: center;
}

.guides .sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%); /*50% của chính nó*/
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    margin: 20px auto 0;
    width: 459px;
    max-width: 100%;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #5a6473;
    text-align: center;
}

.list-guides {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #0689ff;
}

.guide-item .right-arrow {
    margin-left: 6px;
}

.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ==================== Featured ============================ */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.featured .right-arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    gap: 30px; /*đặt các khoảng trống giữa các hàng và cột*/
    margin-top: 70px;
}

.featured .item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    margin: 17px 20px 23px;
}

.featured .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}

.featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}
.featured .item .info .lable {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4d4d52;
    margin-left: 11px;
}

/* ==================== Stat ============================ */
.stat {
    margin-top: 75px;
    padding: 50px 0;
}

.stat .content {
    width: 1017px;
}

.stat .row {
    display: flex;
}

.stat .img-block,
.stat .info {
    width: 50%;
}

.stat .img-block {
    position: relative;
}

.stat-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    background-color: #fff;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}

.stat-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.stat-trend .icon {
    margin-left: auto;
}

.stat-trend .desc {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
    margin-top: 8px;
}

.stat-trend .separate {
    height: 1.2px;
    background: #e9e9e9;
    margin-top: 26px;
}

.stat-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 16px;
    margin-top: 26px;
}

.stat-trend .avatar-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-trend .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    font-weight: 450;
    font-size: 7px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    background: var(--bg-color, #fff);
    line-height: 16px;
}

.stat-trend .avatar:first-child {
    margin-left: 0;
}

.stat .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stat .info {
    margin: 79px 0 0 165px;
    width: 309px;
}

.stat .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
    width: 269px;
}

.stat .sub-title::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stat .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stat .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stat .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stat .qty-desc {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7b8087;
    margin-top: 22px;
}

/* ==================== Subcription ============================ */
.subcription {
    margin-top: 90px;
}

.subcription .body {
    position: relative;
    display: flex;
    align-items: center;
    background: #063183;
    height: 370px;
}

.subcription .info {
    width: 670px;
    padding: 0 80px;
}

.subcription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subcription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subcription .btn {
    margin-top: 34px;
    min-width: 151px;
    background: #ffffff;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.3rem;
    color: #002366;
}

.subcription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row {
    gap: 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.5;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    /* margin-left: 16px; */
    width: 28px;
    height: 28px;
    background: #f9f9f9;
}

/* .social-link đứng sau .social-link được áp dụng 
    (social-link đầu tiên không bị tác động)
*/
.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background: #ebebeb;
}

.row-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .coppyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #c2c2c2;
}
